/**
 * The url-safe name of your application. To find out this name, open
 * your app's settings page or your app's public page, and look for the
 * app name in the URL
 */
export const gitHubAppName = 'text-hoarder';

/**
 * After creating your app, you will see "App ID" at the top of the
 * "General" page in the "About" section. Fill that in here.
 */
export const gitHubAppId = '408553';

/** Fill this in with the client id received after creating a GitHub App */
export const gitHubClientId = 'Iv1.aaaaaaaaaaaaaaaa';

/**
 * Set this to the URL at which auth-cors-middleware is running
 * (see /auth-cors-middleware/README.md)
 */
export const authCorsMiddlewareUrl = 'http://localhost:3000';

/**
 * Id of your extension. See README.md for instructions on getting extension
 * id
 */
export const extensionId = 'kgbbebdcmdgkbopcffmpgkgcmcoomhmh';